[user]
	name = David Morrow
	email = dmorrow@newrelic.com
	autosetuprebase = always

[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
